@charset "UTF-8";
/* CSS Document */

.container {
    max-width: 850px;

}
#face_pic{
	height:280px;
	align:center;
	
}

#news_pic{
	height:280px;
	align:center;
	margin-bottom: 10px;
	
}

#page_content{
	margin-top:25px;
	margin-bottom:25px;
	
}

/*
.navbar { 
	margin-bottom: 0;
	margin-top: 0;
}
*/

body{
/*	background-color:#D0D0D0;*/
}

#navbar-container {
		border-top: 0px solid rgba(0,0,0,0.1);
		border-right: 0px solid rgba(0,0,0,0.1);
		border-left: 0px solid rgba(0,0,0,0.1);
	border-bottom: 5px solid rgba(0,0,0,0.10);
}

#littleheading {
padding:30px;
}

#nav_img{
	height:0px;
}

#face_text{
	padding:15px;
}



@media screen and (min-width: 991px) {   
	
#navbar-container {
	padding-top: 0;
	padding-bottom: 0;
	height:90px;
	
}
	#nav_img{
	height:85px;
}
}

